<% @bookings.each do |booking| %>
    <p><%= booking.plan.name %></p>
    <p><%= booking.plan.description %></p>
    <p><%= booking.plan.location %></p>
    <p><%= booking.status ? 'activo' : 'cancelado'%></p>
<% end %>
