.cover {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://estaticos.muyinteresante.es/uploads/images/gallery/5f2a75795cafe8053b39bcfc/senderismo-redes.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
