<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3 cover">
    <h3 class="mb-0 ">Plans list</h3>
    <% if current_user.present? %>
      <% if current_user.guide == true %>
        <%= link_to "Create a plan", new_plan_path, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% @plans.each do |plan| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3 text-center">
          <%= link_to plan_path(plan), class:"text-decoration-none" do %>
          <%= plan.name %>
        <div class= "img-plans">
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
