
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pa donde pegamos? - Encuentra tu camino</title>
    <link rel="stylesheet" href="../../assets/stylesheets/components/_home.scss">
  </head>
  <body>
    <div class=" mb-5 mt-5 ">
      <h1 class="text center"> Pa donde pegamos?
      </h1>
    </div>


    <div class="container mx-auto">
      <div class="d-flex align-items-center justify-content-between mb-3 cover">
        <div class="position-absolute top-50 start-50 translate-middle">
        <%= link_to "Publica tu parche", new_plan_path, class: "btn btn-outline-light btn-lg" %>
        </div>

      </div>
    </div>

    <div class="row">
      <% @plans.each do |plan| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3 text-center">
            <%= link_to plan_path(plan), class:"text-decoration-none" do %>
            <%= plan.name %>
          <div class= "img-plans">
          </div>
          <div class= "btn btn-primary">
            <%= link_to "Booking"%>
          </div>
          <% end %>
        <% end %>
        </div>
    </div>


    <div class="card-group">
      <div class="container display:inline-elements">
        <div class="row">
          <div class="col-md-4">
            <div class="card h-100 d-flex justify-content-between" style="width: 18rem; ">
              <img class="card-img-top" src="https://idiomasblendex.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2018/11/Cero-las-tres-cruces-ingles-en-medellin-768x433.jpg.webp" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Cerro de las Tres Cruces</h5>
                <p class="card-text">Echa un vistazo a esta ruta de ida y vuelta de 2,3-km cerca de Medellín, Antioquia. Por lo general, se considera una ruta moderada, que se tarda una media de 1 h 34 min en recorrer. Es una región muy popular para el senderismo, MTB y correr, por lo que es probable encontrarse con otras personas mientras se está por la zona.</p>
                <center><a href="#" class="btn btn-primary  text-center">Armemos parche</a>
                </center>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card h-100 d-flex justify-content-between" style="width: 18rem; ">
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Vista_de_la_Iglesia_del_Perpetuo_Socorro_al_centro_-_Medell%C3%ADn.JPG/275px-Vista_de_la_Iglesia_del_Perpetuo_Socorro_al_centro_-_Medell%C3%ADn.JPG" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">La Asomadera</h5>
                <p class="card-text">Ve a la aventura en esta ruta de ida y vuelta de 25,7-km cerca de Medellín, Antioquia. Por lo general, se considera una ruta moderada, que se tarda una media de 8 h 21 min en recorrer. Esta ruta es popular para MTB y la conducción panorámica, sin embargo, podrás disfrutar de algo de paz durante los momentos más tranquilos del día..</p>
                <center><a href="#" class="btn btn-primary  text-center">Armemos parche</a>
                </center>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card h-100 d-flex justify-content-between" style="width: 18rem; ">
              <img class="card-img-top" src=https://cdnwordpresstest-f0ekdgevcngegudb.z01.azurefd.net/es/wp-content/uploads/2021/09/panoramica-picacho.jpg alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sendero Mirador la Paloma</h5>
                  <p class="card-text">Descubre esta ruta de ida y vuelta de 8,5-km cerca de Medellín, Antioquia. Por lo general, se considera una ruta moderada, que se tarda una media de 4 h 18 min en recorrer. Esta ruta es popular para el senderismo y MTB, sin embargo, podrás disfrutar de algo de paz durante los momentos más tranquilos del día.</p>
                  <center><a href="#" class="btn btn-primary  text-center">Armemos parche</a>
                  </center>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>



  </body>
</html>
